.cbp-item:hover.rotate {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
/*.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}*/